@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:700i|Catamaran");

body {
	background-color: #000000;
	padding-left:  100px;
	padding-top:  50px;
}
h1 {
	background-color: #e6ecd7;
	margin-top:25px;
	margin-bottom:12.5px;
	color: #000000;
	Font-Family: 'Cormorant Garamond', Serif;
	Font-Size: 55px;

}
p {
	background-color: #e6ecd7;
	color: #000000;
	Font-Family: 'Catamaran', Sans-Serif;
	Font-Size: 15px;
}

