@import url("https://fonts.googleapis.com/css?family=Lora|Proxima+Nova:700");

body {
    background-color: #ffffff;
}
h1 {
    color: #58585b;
    font-family: 'Lora';
}
p {
    color: #d2d2d2;
    font-family: 'Proxima Nova';
}